<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TravelAgencyDb"
			 connectionString="Host=aws-1-eu-central-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.ivpwqjneuanpgqxobgxz;Password=nicoleta100dolganiuc#;SSL Mode=Require;Trust Server Certificate=true"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>